<button class="btn btn-icon btn-2" style="background-color:#172b4d;color: white " type="button"
        [routerLink]="['/pack/affiche']">
  <span><i class="ni ni-bag-17"></i></span>
  <span class="btn-inner--text">Retour a la liste </span>
</button>
<div class="card m-3">
  <h5 class="card-header">Ajouter Pack</h5>
  <div class="card-body">
    <form [formGroup]="packajout" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nom Pack</label>
        <input type="text" formControlName="nm" name="name" class="form-control" [(ngModel)]="pack.name"
               [ngClass]="{ 'is-invalid': submitted && f.nm.errors }"/>
        <div *ngIf="submitted && f.nm.errors" class="invalid-feedback">
          <div *ngIf="f.nm.errors.required">Nom obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" formControlName="ds" name="description" class="form-control" [(ngModel)]="pack.description"
               [ngClass]="{ 'is-invalid': submitted && f.ds.errors }"/>
        <div *ngIf="submitted && f.ds.errors" class="invalid-feedback">
          <div *ngIf="f.ds.errors.required">Description obligatoire</div>
        </div>
      </div>

      <div class="form-group">
        <label>Price</label>
        <input type="text" formControlName="pr" name="price" class="form-control"
               [(ngModel)]="pack.price"
               [ngClass]="{ 'is-invalid': submitted && f.pr.errors }"/>
        <div *ngIf="submitted && f.pr.errors" class="invalid-feedback">
          <div *ngIf="f.pr.errors.required">prix obligatoire</div>

        </div>
      </div>




      <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="addPack(pack)">Ajouter</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
