<div class="container-add">
  <div style="margin-left: 900px">
    <button class="btn btn-success" routerLink="/dash/product/all/">Show All Product</button>
  </div>
  <h1>Stores:</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Telephone</th>
      <th scope="col">Capacity</th>
      <th scope="col">Address</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of liste; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{p.name}}</td>
      <td>{{p.telephone}}</td>
      <td>{{p.capacity}}</td>
      <td>{{p.address.displayName}}</td>
<!--
      <td> <button class="btn btn-primary" (click)="open(p.id)"><i class="far fa-edit"></i></button></td>
      <td> <button class="btn btn-danger" (click)="deleteProd(p.id)" ><i class="far fa-trash-alt"></i></button></td>
-->

    </tr>

    </tbody>
  </table>
</div>
