<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Tables</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tables</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral">New</a>
          <a href="#" class="btn btn-sm btn-neutral">Filters</a>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="spacer"></span>
Reload data:
<button mat-icon-button (click)="refresh()">
  <mat-icon>refresh</mat-icon>
</button>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter vehicules">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="plate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>plate</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.plate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="odometer">
      <mat-header-cell *matHeaderCellDef mat-sort-header>odometer</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.odometer}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fuelType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>fuelType</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fuelType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="driver">
      <mat-header-cell *matHeaderCellDef mat-sort-header>driver</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.driver != null; else vide">
          {{row.driver.firstName}}</div>
        <ng-template #vide>
          No Driver Assigned
        </ng-template>

      </mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.plate, row.odometer, row.fuelType)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.plate, row.odometer, row.fuelType)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<br><br><br>
