<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Vehicules</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Vehicule Managemnt</a></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">

  <div class="col-lg-12">
    <!-- Calendar widget -->
    <!--* Card header *-->
    <!--* Card body *-->
    <div class="card widget-calendar">

      <!-- Card body -->
      <div class="card-body">
        <div class='app-calendar' *ngIf="calendarVisible">
          <full-calendar
            #calendar
            defaultView="dayGridMonth"
            [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
            [plugins]="calendarPlugins"
            [weekends]="calendarWeekends"
            [events]="Events"
            (dateClick)="handleDateClick($event)"
          ></full-calendar>
        </div>

      </div>
    </div>
  </div>
  <br> <br>
  <div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-0">Maintance Date:</h3>
        </div>

      </div>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush table-hover">
        <thead class="thead-light">
        <tr>

          <th>id</th>
          <th>Vehicule</th>
          <th>Service Type</th>
          <th>Repair Status</th>
          <th>Maintance Date</th>
          <th>Price</th>
          <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of allMaintains  ; let i =index">
          <th>
            <span class="name mb-0 text-sm">{{c.id}}</span>
          </th>
          <td class="table-user">
            <b>{{c.vehicule.plate}}</b>
          </td>
          <td>
                    <span class="badge badge-dot mr-4" *ngIf="c.serviceType == 'Reparation'">
                       <span class="badge badge-lg badge-danger">{{c.serviceType}}</span>
                </span>
            <span class="badge badge-dot mr-4" *ngIf="c.serviceType == 'treatment'">

             <span class="badge badge-lg badge-warning">{{c.serviceType}}</span>
                </span>
          </td>
          <td>
            <a href="#!" class="font-weight-bold">{{c.repairStatus}}</a>
          </td>
          <td>
            <a href="#!" class="font-weight-bold">{{c.maintainceDate |date}}</a>
          </td>
          <td><a href="#!" class="font-weight-bold">{{c.totalprice}}</a>
          </td>
          <td>
            <button type="button" class="btn btn-success" [disabled]="c.repairStatus=='Completed'"
                    (click)="ApproveMaint(c)">Approve
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>

