<div class="prod-body">
  <div class="prod-content">
<!--    <div class="prod-search">-->

<!--    </div>-->
    <div class="prod-list-content">
      <h1 class="product-main-title">Mobile</h1>


      <div class="prod-list">
        <a class="prod-item" *ngFor="let m of mobileList; let i = index" routerLink="/front/products/details/{{m.id}}" >

          <img src="assets/img/prods/{{m.imageUrl}}" alt="" width="100px" height="200px">

          <h1>{{m.name}}</h1>
        </a>

      </div>


    </div>
  </div>

</div>

