<br>
<br>
<div class="col-md-12">
  <ngb-tabset>
    <ngb-tab title="All">
      <ng-template ngbTabContent>
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Tout les réclamations</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">État</th>
                <th scope="col">Date de création</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of collection.data  | paginate: config ; let i =index">
                <td>
                  <label class="form-radio">
                    <input type="checkbox" (change)="checkbox(c.value, i)" [(ngModel)]="c.value.checked" value="{{c.value.id}}">
                  </label>
                </td>
                <td>{{c.value.code}}</td>
                <td>{{c.value.title}}</td>
                <td>
                  <div style="overflow: hidden; width: 250px; word-wrap: break-word;"> {{c.value.description}}</div>
                </td>
                <td>{{c.value.status}}</td>
                <td>{{c.value.createdAt}}</td>
                <td class="text-center">
                  <a class="btn btn-default btn-sm" [routerLink]="['/dash/claim/show/', c.value.id]">Afficher</a>
                  <button class="btn btn-warning btn-sm" (click)="edit(c.value)">Modifier</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteClaim(c.value)">Supprimer</button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <div class="card-footer row">
            <div class="col-md-4">
              Par séléction multiple :
              <button class="btn btn-warning" (click)="deleteSelectedClaims()"> Supprimer</button>
              <button class="btn btn-facebook" (click)="archiverSelectedClaims()"> Archiver</button>
            </div>
            <div class="col-md-8 text-right">
              <nav aria-label="...">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="En Attente">
      <ng-template ngbTabContent>
        <h2 *ngIf="collection.dataEnAttente.length === 0" class="vide">
          Pas de réclamation en attente pour le moment</h2>

        <div class="card shadow" *ngIf="collection.dataEnAttente.length !== 0">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">État</th>
                <th scope="col">Date de création</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of collection.dataEnAttente | paginate: config ; let i =index">
                <td>
                  <label class="form-radio">
                    <input type="checkbox" (change)="checkbox(c.value, i)" [(ngModel)]="c.value.checked">
                  </label>
                </td>
                <td>{{c.value.code}}</td>
                <td>{{c.value.title}}</td>
                <td>
                  <div style="overflow: hidden; width: 250px; word-wrap: break-word;"> {{c.value.description}}</div>
                </td>
                <td>{{c.value.status}}</td>
                <td>{{c.value.createdAt}}</td>
                <td class="text-center">
                  <a class="btn btn-default btn-sm" [routerLink]="['/dash/claim/show/', c.value.id]">Afficher</a>
                  <button class="btn btn-warning btn-sm" (click)="edit(c.value)">Modifier</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteClaim(c.value)">Supprimer</button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <div class="card-footer row">
            <div class="col-md-4">
              Par séléction multiple :
              <button class="btn btn-warning" (click)="deleteSelectedClaims()"> Supprimer</button>
              <button class="btn btn-facebook" (click)="archiverSelectedClaims()"> Archiver</button>
            </div>
            <div class="col-md-8 text-right">
              <nav aria-label="...">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="En Cours">
      <ng-template ngbTabContent>
        <h2 *ngIf="collection.dataEnCours.length === 0" class="vide">Pas de réclamation résolu pour le moment</h2>
        <div class="card shadow" *ngIf="collection.dataEnCours.length !== 0">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">État</th>
                <th scope="col">Date de création</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of collection.dataEnCours | paginate: config ; let i =index">
                <td>
                  <label class="form-radio">
                    <input type="checkbox" (change)="checkbox(c.value, i)" [(ngModel)]="c.value.checked">
                  </label>
                </td>
                <td>{{c.value.code}}</td>
                <td>{{c.value.title}}</td>
                <td>
                  <div style="overflow: hidden; width: 250px; word-wrap: break-word;"> {{c.value.description}}</div>
                </td>
                <td>{{c.value.status}}</td>
                <td>{{c.value.createdAt}}</td>
                <td class="text-center">
                  <a class="btn btn-default btn-sm" [routerLink]="['/dash/claim/show/', c.value.id]">Afficher</a>
                  <button class="btn btn-warning btn-sm" (click)="edit(c.value)">Modifier</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteClaim(c.value)">Supprimer</button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <div class="card-footer row">
            <div class="col-md-4">
              Par séléction multiple :
              <button class="btn btn-warning" (click)="deleteSelectedClaims()"> Supprimer</button>
              <button class="btn btn-facebook" (click)="archiverSelectedClaims()"> Archiver</button>
            </div>
            <div class="col-md-8 text-right">
              <nav aria-label="...">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="Résolut">
      <ng-template ngbTabContent>
        <h2 *ngIf="collection.dataResolu.length === 0"  class="vide">Pas de réclamation résolu pour le moment</h2>
        <div class="card shadow" *ngIf="collection.dataResolu.length !== 0">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">État</th>
                <th scope="col">Date de création</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of collection.dataResolu | paginate: config ; let i =index">
                <td>
                  <label class="form-radio">
                    <input type="checkbox" (change)="checkbox(c.value, i)" [(ngModel)]="c.value.checked">
                  </label>
                </td>
                <td>{{c.value.code}}</td>
                <td>{{c.value.title}}</td>
                <td>
                  <div style="overflow: hidden; width: 250px; word-wrap: break-word;"> {{c.value.description}}</div>
                </td>
                <td>{{c.value.status}}</td>
                <td>{{c.value.createdAt}}</td>
                <td class="text-center">
                  <a class="btn btn-default btn-sm" [routerLink]="['/dash/claim/show/', c.value.id]">Afficher</a>
                  <button class="btn btn-warning btn-sm" (click)="edit(c.value)">Modifier</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteClaim(c.value)">Supprimer</button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <div class="card-footer row">
            <div class="col-md-4">
              Par séléction multiple :
              <button class="btn btn-warning" (click)="deleteSelectedClaims()"> Supprimer</button>
              <button class="btn btn-facebook" (click)="archiverSelectedClaims()"> Archiver</button>
            </div>
            <div class="col-md-8 text-right">
              <nav aria-label="...">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="Fermée">
      <ng-template ngbTabContent>
        <h2 *ngIf="collection.dataFermee.length === 0" class="vide">
          Pas de réclamation férmée (Archivée) pour le moment</h2>

        <div class="card shadow" *ngIf="collection.dataFermee.length !== 0">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">État</th>
                <th scope="col">Date de création</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of collection.dataFermee | paginate: config ; let i =index">
                <td>
                  <label class="form-radio">
                    <input type="checkbox" (change)="checkbox(c.value, i)" [(ngModel)]="c.value.checked">
                  </label>
                </td>
                <td>{{c.value.code}}</td>
                <td>{{c.value.title}}</td>
                <td>
                  <div style="overflow: hidden; width: 250px; word-wrap: break-word;"> {{c.value.description}}</div>
                </td>
                <td>{{c.value.status}}</td>
                <td>{{c.value.createdAt}}</td>
                <td class="text-center">
                  <a class="btn btn-default btn-sm" [routerLink]="['/dash/claim/show/', c.value.id]">Afficher</a>
                  <button class="btn btn-warning btn-sm" (click)="edit(c.value)">Modifier</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteClaim(c.value)">Supprimer</button>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <div class="card-footer row">
            <div class="col-md-4">
              Par séléction multiple :
              <button class="btn btn-warning" (click)="deleteSelectedClaims()"> Supprimer</button>
              <button class="btn btn-facebook" (click)="desarchiverSelectedClaims()"> Désarchiver</button>
            </div>
            <div class="col-md-8 text-right">
              <nav aria-label="...">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<!--<div class="col-md-12">-->
<!--  <div class="card shadow">-->
<!--    <div class="card-header border-0">-->
<!--      <h3 class="mb-0">Tout les réclamations</h3>-->
<!--    </div>-->
<!--    <div class="table-responsive">-->
<!--      <table class="table align-items-center table-flush">-->
<!--        <thead class="thead-light">-->
<!--        <tr>-->
<!--          <th scope="col"></th>-->
<!--          <th scope="col">Code</th>-->
<!--          <th scope="col">Titre</th>-->
<!--          <th scope="col">Description</th>-->
<!--          <th scope="col">État</th>-->
<!--          <th scope="col">Date de création</th>-->
<!--          <th scope="col" class="text-center">Actions</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let c of collection.data  | paginate: config ; let i =index">-->
<!--          <td>-->
<!--            <label class="form-radio">-->
<!--              <input type="checkbox" (change)="checkbox(c.value, i)" [(ngModel)]="c.value.checked">-->
<!--            </label>-->
<!--          </td>-->
<!--          <td>{{c.value.code}}</td>-->
<!--          <td>{{c.value.title}}</td>-->
<!--          <td>-->
<!--            <div style="overflow: hidden; width: 250px; word-wrap: break-word;"> {{c.value.description}}</div>-->
<!--          </td>-->
<!--          <td>{{c.value.status}}</td>-->
<!--          <td>{{c.value.createdAt}}</td>-->
<!--          <td class="text-center">-->
<!--            <a class="btn btn-default btn-sm" [routerLink]="['/dash/claim/show/', c.value.id]">Afficher</a>-->
<!--            <button class="btn btn-warning btn-sm" (click)="edit(c.value)">Modifier</button>-->
<!--            <button class="btn btn-danger btn-sm" (click)="deleteClaim(c.value)">Supprimer</button>-->
<!--          </td>-->
<!--        </tr>-->

<!--        </tbody>-->
<!--      </table>-->

<!--    </div>-->
<!--    <div class="card-footer row">-->
<!--      <div class="col-md-4">-->
<!--        Par séléction multiple :-->
<!--        <button class="btn btn-warning" (click)="deleteSelectedClaims()"> Supprimer</button>-->
<!--        <button class="btn btn-facebook" (click)="archiverSelectedClaims()"> Archiver</button>-->
<!--      </div>-->
<!--      <div class="col-md-8 text-right">-->
<!--        <nav aria-label="...">-->
<!--          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->
<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
