<nav class="navbar navbar-expand-lg navbar-dark bg-default" style="margin-bottom: 0px !important">
  <div class="container">
    <a class="navbar-brand" href="#">PRISMA CRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
            aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="index.html">
              <img src="../../../assets/front/img/brand/lacasa.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default"
                    aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" [routerLink]="['/front/products']">products & services </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="#">Login / signup </a>
        </li>
        <li class="nav-item dropdown">
          <a *ngIf="currentCart.rows!=null" class="nav-link nav-link-icon dropdown"  [routerLink]="'/front/cart'" id="navbar-default_dropdown_1" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Cart ({{currentCart.rows.length}})</a>
          <a *ngIf="currentCart.rows==null" class="nav-link nav-link-icon dropdown" [routerLink]="'/front/cart'" id="navbar-default_dropdown_1" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Cart (0)</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-icon " (click)="open(classic2, 'Notification', '')">
            <span class="badge badge-white bg-danger"><i class="ni ni-bell-55"></i> 29</span></a>
        </li>
      </ul>


    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-4">
    <ng-template #classic2 let-c="close" let-d="dismiss">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification">Notification list</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-3 text-center">
            <i class="ni ni-bell-55 ni-3x"></i>
            <h4 class="heading mt-4"></h4>


            <div  class="alert alert-secondary alert-dismissible fade show" role="alert"><span
               class="alert-inner--icon"><i  class="ni ni-like-2"></i></span><span
               class="alert-inner--text"><strong >Secondary!</strong> This is a secondary alert—check it out!</span>
              <button  aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                 aria-hidden="true">×</span></button>
            </div>

            <div  class="alert alert-secondary alert-dismissible fade show" role="alert"><span
              class="alert-inner--icon"><i  class="ni ni-like-2"></i></span><span
              class="alert-inner--text"><strong >Secondary!</strong> This is a secondary alert—check it out!</span>
              <button  aria-label="Close" class="close" data-dismiss="alert" type="button"><span
                aria-hidden="true">×</span></button>
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white">Got it</button>
          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">
            Close
          </button>
        </div>
      </div>
    </ng-template>
  </div>

</div>
