<button class="btn btn-icon btn-2" style="background-color:#172b4d;color: white " type="button"
        [routerLink]="['/promotion/create']">
  <span><i class="ni ni-bag-17"></i></span>
  <span class="btn-inner--text">Ajouter promotion</span>
</button>

<div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Date début </th>
      <th scope="col">Nom Promotion </th>
      <th scope="col">Période</th>
      <th scope="col">Pourcentage</th>
      <th scope="col">Date fin</th>
      <th scope="col">Modifier</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of pr ">

      <td>{{x.s_date}}</td>
      <td>{{x.name}}</td>
      <td>{{x.period}}</td>
      <td>{{x.percentage}}</td>
      <td>{{x.e_date}}</td>
      <td> <button class="btn btn-primary" (click)="open(x.id)"><i class="far fa-edit"></i></button></td>

    </tr>

    </tbody>
  </table>
</div>
<h4 *ngIf="pr.length==0">Pas de produit pour le moment</h4>
