<div class="header" style="height: 150px; background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important; text-align: right;" >
   <br>
  <div class=" col-md-11">
      <button class="btn btn-default">Déléguer </button>
      <button class="btn btn-success">Résolut </button>
  </div>
</div>
<br>
<br>
<div class="card card-profile shadow mt--300 col-md-10 offset-md-1 claimCard">
  <h2>{{ c.title }}</h2>
  <div>{{c.description}}</div><br>
  <span>Crée le : {{c.createdAt}}</span>
</div>

<all-notes-claim-back [notes]="notes"></all-notes-claim-back>
<!--<add-note-claim-back [claim]="c"></add-notes-claim-back>-->
