<div class="header"
     style="height: 150px; background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important; text-align: right;">
  <br>
  <div class=" col-md-11" *ngIf="idUserLogged == c.responsable.id">
    <button class="btn btn-default" (click)="deleguer(c)" *ngIf="(c.responsable.id == idUserLogged) && (c.status != 'RESOLU')">Déléguer</button>
    <button class="btn btn-success" (click)="resolve(c)" *ngIf="c.status != 'RESOLU'">Résolut</button>
  </div>
</div>
<br>
<br>

<div class="card card-profile shadow mt--300 col-md-10 offset-md-1 claimCard">
    <h2>{{ c.title }}</h2>
    <div> Description : {{c.description}}</div><br>
    <div> Status : {{c.status}}</div><br>
    <div *ngIf="userLogged.role == 'Admin'"> Responsable :   {{c.responsable.firstName}} (Agent n° {{c.responsable.id}})</div><br>
    <span>Crée le : {{c.createdAt}}</span>
</div>

<all-notes-claim-back [notes]="notes" (sendDeleteRequest)="deletNote($event)"></all-notes-claim-back>
<!--<add-note-claim-back [claim]="c"></add-notes-claim-back>-->
