<div class="header bg-gradient-danger py-7 py-lg-8" style="background: linear-gradient(87deg, #36aef5 0, #36f59df2 100%) !important ">

</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3">
            <h2>{{'login.title' | translate }}</h2>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">

          <form role="form" (ngSubmit)="f.form.valid && Login()" #f="ngForm" novalidate>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="{{ 'login.email.placeholder' | translate }}"  type="email"  [(ngModel)]="model.email"  name="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="{{ 'login.password.placeholder' | translate }}"  type="password" [(ngModel)]="model.password" name="password" required>
              </div>
            </div>
            <div class="text-center">
              <input class="btn btn-primary my-4" type="submit" value="{{'login.button.name' | translate }}"/>
            </div>

          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a class="text-light" href="javascript:void(0)"><small>Mot de passe oublier ?</small></a>
        </div>
        <div class="col-6 text-right">
          <a class="text-light" href="javascript:void(0)"><small>Créer un nouveau compte</small></a>
        </div>
      </div>
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="useLanguage('zh')">  {{'login.button.zh' | translate}}  </button>
        <button type="button" class="btn btn-primary" (click)="useLanguage('en')"> {{'login.button.en' | translate}} </button>
      </div>
    </div>
  </div>
</div>
