.near-bloc{
  display: flex;

}
.store-card{
  width:400px;

}
.img-store{
  width:200px;
  height:200px;
}







.prod-body{
  display: flex;
  justify-content: center;
  background-color: #f1f3f2;
}
.prod-content{
  margin-top: 50px;
  background-color: white;
  width:1100px;
  height:1000px;
  display: flex;

}
.prod-search{
  background-color: #172b4d;
  height: 100%;
  width: 400px;
}
.product-main-title{

  font-size: 40px;
  margin-top: 50px;
  margin-left: 50px;

}
.prod-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:300px;
  margin: 10px;
  border: 1px solid #0da5c0;
}
.prod-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

