<button class="btn btn-icon btn-2" style="background-color:#172b4d;color: white " type="button"
        [routerLink]="['/offre/ajout']">
  <span><i class="ni ni-bag-17"></i></span>
  <span class="btn-inner--text">Ajouter un offre</span>
</button>

<div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nom Offre </th>
      <th scope="col">Type Offre </th>
      <th scope="col">Avantages</th>
      <th scope="col">Tarification</th>
      <th scope="col">Description</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of of ">

      <td>{{x.name}}</td>
      <td>{{x.offtype}}</td>
      <td>{{x.avantages}}</td>
      <td>{{x.tarification}}</td>
      <td>{{x.description}}</td>
      <td> <button class="btn btn-primary" (click)="open(x.id)"><i class="far fa-edit"></i></button></td>
      <td> <button class="btn btn-danger" (click)="deleteoffre(x.id)" ><i class="far fa-trash-alt"></i></button></td>

    </tr>

    </tbody>
  </table>
</div>
