<div class="prod-body">
  <div class="prod-content">

    <div class="prod-img-content">

      <img src="assets/img/prods/{{product.imageUrl}}" alt=""  class="image-prodd">
      <h1 class="prod-price">{{product.price}} DT</h1>


    </div>

    <div class="prod-description">
      <h1 class="product-main-title">{{product.name}}</h1>
      <div class="prod-information">
        <table >

          <tbody>
          <tr>
            <td class="info-column">Description:</td>
            <td class="info-column">{{product.description}}</td>

          </tr>
          <tr>
            <td class="info-column">Brand:</td>
            <td class="info-column">{{product.brand}}</td>

          </tr>
          <tr>
            <td class="info-column">Memory:</td>
            <td class="info-column">{{product.memory}}</td>

          </tr>
          <tr>
            <td class="info-column">Resolution:</td>
            <td class="info-column">{{product.resolution}}</td>

          </tr>
          <tr>
            <td class="info-column">Camera:</td>
            <td class="info-column">{{product.camera}}</td>

          </tr>
          <tr>
            <td class="info-column">Guarantee:</td>
            <td class="info-column">{{product.guarantee}} ans</td>

          </tr>
          </tbody>
        </table>

      </div>

      <div class="btn-find-store">
        <button type="button" class="btn btn-danger btn-lg" routerLink="/front/products/neareststore">Find the nearest store</button>
      </div>

    </div>
  </div>

</div>

