<div class="modal-header">
  <h4 class="modal-title"></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h3>{{c.title}} </h3>
  <form [formGroup]="editClaimForm">
    <label>Titre de la réclamation :</label>
    <input formControlName="title" type="text" class="form-control form-control-alternative">
    <label>Description :</label>
    <input formControlName="description" type="text" class="form-control form-control-alternative">
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" [disabled]="this.editClaimForm.pristine" (click)="edit()">Confirmer</button>
  <button type="button" class="btn btn-outline-darks"  (click)="activeModal.close('Close click')">Fermer</button>
</div>
