<div>

  <div class="modal-header">
    <h4 class="modal-title">Détails</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row-10">

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col">Prix</th>
          <th scope="col">N Prix</th>



        </tr>
        </thead>
        <tbody  >

        <tr  *ngFor="let x of prd">

          <td>{{x.name}}</td>
          <td>{{x.description}}</td>
          <td>{{x.price}} </td>
          <td>{{x.new_price}}</td>


        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>

</div>
<h2 *ngIf="prd?.length==0">Pas de produis </h2>
